.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.img {
    float: left;
    width: 200px;
    height: 200px;
}

.img img {
    width: 200px;
    height: 200px;
}

ul {
    float: left;
}